//output: index.html, pretty: true

doctype
html(lang="en")
    head
        title something rubbish
        meta(charset="utf-8")
        link(rel="stylesheet", href="assets/css/style.min.css")
    body
        include assets/jade/header.jade
        section.main-article
            include assets/jade/main-article.jade
