//output: index.html, pretty: true

doctype
html(lang="en")
    head
        title something rubbish
        meta(charset="utf-8")
        link(rel="stylesheet", href="assets/css/style.min.css")
    body
        include assets/jade/header.jade
        section.main-article
            include assets/jade/main-article.jade
        section.articles
            include assets/jade/articles.jade
        section.instagram
            include assets/jade/instagram-section.jade
        section.articles-second
            //include assets/jade/articles-second.jade
        section.destinations
            //include assets/jade/destinations.jade
        section.articles-third
            //include assets/jade/articles-third.jade
        .pagenation
            //include assets/jade/pagenation.jade
        section.about
            //include assets/jade/about.jade
        footer.main-footer
            //include assets/jade/main-footer.jade
