article.article-mini
    figure.articles-images 
        img(src="assets/img/articles/1.jpg")
    .articles-thumbnail 
        span.author Marcellus Wallace
        h3.articles-title  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu
        p.articles-caption In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        footer.articles-footer
            span.date 16 december 2016
            .comments-icon
                //include comments.html
            span.comments-counter 22

article.article-mini
    figure.articles-images
        img(src="assets/img/articles/2.jpg")
    .articles-thumbnail 
        span.author Marcellus Wallace
        h3.articles-title Cras dapibus
        p.articles-caption Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.
        footer.articles-footer
            span.date 12 december 2016
            .comments-icon
                //include comments.html
            span.comments-counter 7

article.article-mini
    figure.articles-images
        img(src="assets/img/articles/3.jpg")
    .articles-thumbnail 
        span.author Marcellus Wallace
        h3.articles-title Aliquam lorem ante, dapibus in, viverra quis
        p.articles-caption Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
        footer.articles-footer
            span.date 7 december 2016
            .comments-icon
                //include comments.html
            span.comments-counter 666
