header
    .logo--small
    nav.menu
        a(href="#") Menu
    nav.main-nav
        .links 
            a(href="#") About
        .links
            a(href="#") Hire us
        .links
            a(href="#") Our team
        .links
            a(href="#") Donations
    .social-links
        .fb-icon
            a(href="#") 
                include facebook-logo.html
        .twitter-icon
            a(href="#")
                include twitter-logo.html
        .instagram-icon
            a(href="#")
                include instagram-logo.html
