.logo--big
.article--big
    img(src="assets/img/img--big.jpg")
    p.author marcellus wallace
    h2.article-title Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    h3.article-caption Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    p.date 12 December 2016 
